@font-face {
	font-family: 'GothamBook';
	src: url('	GothamBook.eot');
	src: local('GothamBook'), url('	GothamBook.woff') format('woff'), url('	GothamBook.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10146">Text with this font applied</p> */
.fontsforweb_fontid_10146 {
	font-family: 'GothamBook' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}

@font-face {
	font-family: 'MyriadPro';
	src: local('MyriadPro'), url('./MyriadPro-Bold.otf') format('otf'), url('./MyriadPro-Regular.otf') format('otf');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9785">Text with this font applied</p> */
.fontsforweb_fontid_9785 {
	font-family: 'gothic' !important;
}

.fontsforweb_MyriadPro {
	
}

/* Font downloaded from FontsForWeb.com */
